[Unit]
Description=OpenChamber webserver
After=network-online.target

[Service]
Type=simple

Environment="PATH=%h/.bun/bin:/usr/local/bin:/usr/bin:/bin"
EnvironmentFile=-%h/.config/openchamber/startup.env
ExecStart=%h/.bun/bin/openchamber serve --foreground --port 3000 --host 127.0.0.1 --api-only

Restart=always
RestartSec=5
SuccessExitStatus=143

[Install]
WantedBy=default.target
